// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$yellow: #FFFEE0;

.coach {

  p {
    font-style: italic;
  }

}



.question {
  border-left: solid 3px grey;
  padding-left: 10px;


}

.answer {
  background-color: $yellow;
  border-left: solid 3px grey;
  padding-left: 10px;

}
